body {
	background-color:  darkorchid;
	text-align:  center;
}

h1{
	color: yellow;
}


p {
	color:  cyan;
	font-family:  ;
	font-size:  1.8em;
	margin:  30px;
	text-align: left;
}

input {
	color: darkslategrey;
	background-color: deepskyblue;
	width:  200px;
	height:  50px;
	margin: 20px;
	border: navy;
	border-radius: 10px;
	font-stretch:  semi-expanded;
	font-family: sans-serif;
	text-align: center;
	font-size: 1.3em;
}

input:focus {
	border:  solid 5px #00FFCE;
}

#rtn {
	background-color: palevioletred;
	color: burlywood;
	width: 200px;
}

#viewq:hover {
	background-color: greenyellow;
	cursor:  pointer;
}