<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Display CMC Quotes</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/subpage2.css')}}">
		<body>
			<h1>USD-SGD rate = {{exrate1}} **** SGD-USD {{exrate2}}</h1>
			<br>
			<p>Current token price as of : {{currDT}}</p>
			<br>
			<form action="/" method="get">
				 {% for message in get_flashed_messages()%}
				 	<p> {{message}} </p>
				 {% endfor %}
				 <br>
				 <p> Your input : {{userinput}} </p>
			     <br><br>
			     <input type="submit" value="Home Page" id="disquotes">
			 </form>
		</body>
	</head>
</html>