<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Display CMC Quotes</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/subpage2.css')}}">
		<body>
			<br><br>
			<h1>Run python script to get CMC quotes</h1>
			<br>
			<p>display python script out here</p>
			<br>
			<form action="/" method="get">
				 {% for message in get_flashed_messages()%}
				 	<p> {{message}} </p>
				 {% endfor %}
				 <br><br>
				 <br><br>
				 <p> ## $$$ ------ $$$ ## </p>
				 <p>Hit back button on browser... </p>
				 <br>
			     <br><br>
			     <input type="submit" value="Good Luck!" id="disquotes">
			 </form>
		</body>
	</head>
</html>